{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
    {{ super() }}
    <title>{{ title }}</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        // Remember active tab when reloading page
        $(document).ready(function() {
            $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
                localStorage.setItem('activeTab', $(e.target).attr('href'));
            });

            var activeTab = localStorage.getItem('activeTab');

            // Activate first tab if there is no active one
            if (!activeTab)
                activeTab = {{ tabs[0].tab_id }}

            $('#myTab a[href="' + activeTab + '"]').tab('show');
        });

        function copyToClipboard() {
            // Can't copy from pre tag directly
            const textArea = document.createElement('textarea');
            textArea.textContent = document.getElementById("result").textContent;
            document.body.append(textArea);

            textArea.select();
            document.execCommand("copy");

            textArea.remove();
        }
    </script>
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ title }}</h3>
        </div>
        <div class="panel-body">
            <ul class="nav nav-tabs" id="myTab">
                {% for tab in tabs: %}
                    <li class="nav-item">
                        <a href="#{{ tab.tab_id }}" class="nav-link" data-toggle="tab">{{ tab.tab_name }}</a>
                    </li>
                {% endfor %}
            </ul>

            <div class="tab-content">
                {% for tab in tabs: %}
                    <div id="{{ tab.tab_id }}" class="tab-pane fade">
                        {{ wtf.quick_form(tab) }}

                        {% if tab.result | length %}
                            <hr>
                            <p>
                                <button type="button" class="btn btn-default" onclick="copyToClipboard()">Copy</button>
                                <a href="{{ tab.result.preview_url }}" target="_blank">Preview on FBE</a>
                            </p>
                            <pre id="result">{{ tab.result.blueprint }}</pre>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
